/vendor/*
!/vendor/skydiver
!/vendor/laravelcollective
/node_modules
Homestead.yaml
Homestead.json
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
